<footer class="footer">
  <div class="footer__container container">
    <div class="footer__button-list">
      <button
        class="footer__button-locations"
        type="button"
        data-modal-location-open
      >
        Our Locations
        <svg class="footer__button-svg" width="10px" height="12px">
          <use href="./images/icon/arrow-button.svg#icon-arrow-button"></use>
        </svg>
      </button>
      <button class="footer__button-franchise" type="button">
        Franchise
        <svg class="footer__button-svg" width="10px" height="12px">
          <use href="./images/icon/arrow-button.svg#icon-arrow-button"></use>
        </svg>
      </button>
    </div>
    <p class="footer__text">homemade ice cream made</p>
    <h2 class="footer__title">with passion</h2>
    <div class="footer__socials">
      <ul class="socials__list">
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://github.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="icon Github"
          >
            <svg class="socials__icon" width="32" height="32">
              <use href="./images/sprite.svg#github"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://telegram.org/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="icon Telegram"
          >
            <svg class="socials__icon" width="32" height="32">
              <use href="./images/sprite.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="socials__item">
          <a
            class="socials__link"
            href="https://www.facebook.com/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="icon Facebook"
          >
            <svg class="socials__icon" width="32" height="32">
              <use href="./images/sprite.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer__tel">
      <p class="footer__tel--text">
        Feel free to contact
        <a class="footer__tel--number" href="tel:+61(0)383766284"
          >+61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
  <div class="footer__copyright">
    <p class="footer__copyright--text">
      © 2022 - IceCream.<br />
      All Rights Reserved.
    </p>
  </div>
  BACKDROP
  <div class="backdrop is-hidden" data-modal-location>
    <div class="modal__footer">
      <button type="button" class="modal__close-btn" data-modal-location-close>
        <svg class="modal__icon-close-btn">
          <use href="./images/icon/close-button.svg#icon-cross"></use>
        </svg>
      </button>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48394.100539971834!2d-73.9623459!3d40.7041175!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25941934bb85f%3A0x486aa5dc8e5c1416!2z0J_QsNGA0Log0JTQvtC80LjQvdC-!5e0!3m2!1sru!2sus!4v1656404447135!5m2!1sru!2sus"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</footer>
